.container
  .content-wrapper
    / Content Header (Page header)
    %section.content-header
      %h1
        User Profile
      %ol.breadcrumb
        %li
          %a{:href => "/"}
            %i.fa.fa-dashboard
            Home
        %li.active User profile
    / Main content
    %section.content
      .row
        .col-md-3
          / Profile Image
          .box.box-primary
            .box-body.box-profile
              = image_tag 'user1-128x128.jpg', class: 'profile-user-img img-responsive img-circle'
              %h3.profile-username.text-center= current_user.name
              %p.text-muted.text-center= "Member since #{current_user.created_at.strftime('%b. %Y')}"
              - if current_user.ethereum_wallet
                %ul.list-group.list-group-unbordered
                  %li.list-group-item
                    %b ETH Balance
                    %a.pull-right= wei_to_eth(current_user.ethereum_wallet.balance)
                  %li.list-group-item
                    =link_to 'Wallet info', "https://ropsten.etherscan.io/address/#{current_user.ethereum_wallet.address}", class: 'btn btn-primary btn-block'
              - else
                %button.btn.btn-primary.btn-block{"data-target" => "#modal-create-wallet", "data-toggle" => "modal"} Create Eth wallet
            / /.box-body
          / /.box
          / / About Me Box
          / .box.box-primary
          /   .box-header.with-border
          /     %h3.box-title About Me
          /   / /.box-header
          /   .box-body
          /     %strong
          /       %i.fa.fa-book.margin-r-5
          /       Education
          /     %p.text-muted
          /       B.S. in Computer Science from the University of Tennessee at Knoxville
          /     %hr/
          /     %strong
          /       %i.fa.fa-map-marker.margin-r-5
          /       Location
          /     %p.text-muted Malibu, California
          /     %hr/
          /     %strong
          /       %i.fa.fa-pencil.margin-r-5
          /       Skills
          /     %p
          /       %span.label.label-danger UI Design
          /       %span.label.label-success Coding
          /       %span.label.label-info Javascript
          /       %span.label.label-warning PHP
          /       %span.label.label-primary Node.js
          /     %hr/
          /     %strong
          /       %i.fa.fa-file-text-o.margin-r-5
          /       Notes
          /     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
          /   / /.box-body
          / /.box
        / /.col
        .col-md-9
          .nav-tabs-custom
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#transactions"} Donations
              / %li
              /   %a{"data-toggle" => "tab", :href => "#settings"} Settings
            .tab-content
              / /.tab-pane
              #transactions.active.tab-pane
                / The timeline
                %ul.timeline.timeline-inverse
                  / timeline time label
                  - @transactions_by_date.keys.each do |date|
                    %li.time-label
                      %span{class: Project.day_color(date)}
                        = date
                    / /.timeline-label
                    / timeline item
                    - @transactions_by_date[date].each do |transaction|
                      %li
                        %i.fa.fa-envelope.bg-blue
                        .timeline-item
                          %span.time
                            %i.fa.fa-clock-o
                            = transaction.created_at.strftime('%H:%M')
                          %h3.timeline-header
                            = link_to transaction.project.name, project_path(transaction.project.id)
                            = "- #{wei_to_eth(transaction.value)} ETH"
                          / .timeline-body
                          /   Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                          /   weebly ning heekya handango imeem plugg dopplr jibjab, movity
                          /   jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                          /   quora plaxo ideeli hulu weebly balihoo...
                  / END timeline item
                  %li
                    %i.fa.fa-clock-o.bg-gray
              / /.tab-pane
              / #settings.tab-pane
              /   %form.form-horizontal
              /     .form-group
              /       %label.col-sm-2.control-label{:for => "inputName"} Name
              /       .col-sm-10
              /         %input#inputName.form-control{:placeholder => "Name", :type => "email"}/
              /     .form-group
              /       %label.col-sm-2.control-label{:for => "inputEmail"} Email
              /       .col-sm-10
              /         %input#inputEmail.form-control{:placeholder => "Email", :type => "email"}/
              /     .form-group
              /       %label.col-sm-2.control-label{:for => "inputName"} Name
              /       .col-sm-10
              /         %input#inputName.form-control{:placeholder => "Name", :type => "text"}/
              /     .form-group
              /       %label.col-sm-2.control-label{:for => "inputExperience"} Experience
              /       .col-sm-10
              /         %textarea#inputExperience.form-control{:placeholder => "Experience"}
              /     .form-group
              /       %label.col-sm-2.control-label{:for => "inputSkills"} Skills
              /       .col-sm-10
              /         %input#inputSkills.form-control{:placeholder => "Skills", :type => "text"}/
              /     .form-group
              /       .col-sm-offset-2.col-sm-10
              /         .checkbox
              /           %label
              /             %input{:type => "checkbox"}/
              /             I agree to the
              /             %a{:href => "#"} terms and conditions
              /     .form-group
              /       .col-sm-offset-2.col-sm-10
              /         %button.btn.btn-danger{:type => "submit"} Submit
              / /.tab-pane
            / /.tab-content
          / /.nav-tabs-custom
        / /.col
      / /.row
    / /.content
    / /.content-wrapper