= form_for(@project, url: projects_path, html: {class: 'form-horizontal'}, method: :post) do |f|
  .box-body
    .form-group
      = f.label :name, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Project name'
    .form-group
      = f.label :description, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_area :description, class: 'form-control', placeholder: 'Project description'
    .form-group
      = f.label :goal, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :goal, class: 'form-control', placeholder: 'Goal'
    .form-group
      = f.label :category, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.select :category_id, Category.all.collect{|p|[p.name, p.id]}, {include_blank: false}, {class: 'form-control'}
    .form-group
      = f.label :due_date, class: 'col-sm-2 control-label'
      .col-sm-10
        .input-group.date
          .input-group-addon
            %i.fa.fa-calendar
          = f.text_field :due_date, class: 'form-control', data:{ provide:'datepicker', "date-format" => "dd/mm/yyyy" }
    
  .box-footer
    = link_to 'Cancel', root_path, class: 'btn btn-default'
    = f.submit "Create", class: 'btn btn-info pull-right'