.container
  .content-wrapper
    / Content Header (Page header)
    %section.content-header
      %h1
        Projects
        %small= "in #{@category.name} category"
      %ol.breadcrumb
        %li
          %i.fa.fa-dashboard
          = link_to 'Projects', root_path
        %li
          = @category.name
    / Main content
    %section.content
      / row
      .row
        .col-md-12
          / The time line
          %ul.timeline
            - @projects_by_date.keys.each do |date|
              / timeline time label
              %li.time-label
                %span{class: Project.day_color(date)}
                  = date
              / /.timeline-label
              / timeline item
              - @projects_by_date[date].each do |project|
                %li
                  %i{class: project.category.style}
                  .timeline-item
                    %span.time
                      %i.fa.fa-clock-o
                      = project.created_at.strftime('%H:%M')
                    %h3.timeline-header
                      = link_to project.name, project_path(project.id)
                    .timeline-body
                      = project.description
                      %p
                      .progress
                        .progress-bar.progress-bar-primary.progress-bar-striped{"aria-valuemax" => project.goal, "aria-valuemin" => "0", "aria-valuenow" => project.pledged, :role => "progressbar", :style => "width: #{(project.pledged.to_f/project.goal*100).to_i}%"}
                    .timeline-footer
                      = link_to 'Read more', project_path(project.id), class: 'btn btn-primary btn-xs'
            %li
              %i.fa.fa-clock-o.bg-gray
