.container
  %section.content-header
    %h1
      New Project
    %ol.breadcrumb
      %li
        %a{:href => "/"}
          %i.fa.fa-dashboard
          Projects
      %li.active New project
  / Main content
  %section.content
    .box.box-info
      .box-header.with-border
        %h3.box-title 
      / /.box-header
      / form start
      = render partial: 'projects/form'