.container
  .content-wrapper
    %section.content-header
    %h1
      = @project.name
    %ol.breadcrumb
      %li
        %a{:href => "/"}
          %i
          Projects
      %li
        = link_to projects_path(category: @project.category_id) do
          %i
          = @project.category.name
      %li.active= @project.name

    .box.box-primary
      .box-body.box-profile
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          .carousel-inner
            .item
              %img{:alt => "First slide", :src => "http://placehold.it/1120x500/39CCCC/ffffff&text=Coinstarter"}/
              .carousel-caption
                First Slide
            .item.active
              %img{:alt => "Second slide", :src => "http://placehold.it/1120x500/3c8dbc/ffffff&text=Coinstarter"}/
              .carousel-caption
                Second Slide
            .item
              %img{:alt => "Third slide", :src => "http://placehold.it/1120x500/f39c12/ffffff&text=Coinstarter"}/
              .carousel-caption
                Third Slide
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
            %span.fa.fa-angle-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
            %span.fa.fa-angle-right
        %h3.profile-username.text-center= @project.name
        %ul.list-group.list-group-unbordered
          %li.list-group-item
            %b Goal
            %a.pull-right= @project.goal
          %li.list-group-item
            %b Pledged
            %a.pull-right= @project.pledged
          %li.list-group-item
            %b Backers
            %a.pull-right= @project.backers_count
          %li.list-group-item
            %b Progress
            .progress
              .progress-bar.progress-bar-primary.progress-bar-striped{"aria-valuemax" => @project.goal, "aria-valuemin" => "0", "aria-valuenow" => @project.pledged, :role => "progressbar", :style => "width: #{(@project.pledged.to_f/@project.goal*100).to_i}%"}
          - if current_user && current_user.ethereum_wallet
            %li.list-group-item
              %button.btn.btn-primary.btn-block{"data-target" => "#modal-back", "data-toggle" => "modal", :type => "button"}
                %b Back this project
          %li.list-group-item
            %p.text-muted= @project.description

    #modal-back.modal.modal-default.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title= "Back #{@project.name}"
          .modal-body
            = form_for(Transaction.new, url: back_project_path(@project.id), html: {class: 'form-horizontal'}) do |f|
              %p= f.text_field :value, class: 'form-control', placeholder: 'Number in Ether'
              %p= f.password_field :password, class: 'form-control', placeholder: 'Ethereum wallet key password'
              .modal-footer
                = f.submit "Send Ether", class: 'btn btn-info pull-right'
        / /.modal-content
      / /.modal-dialog
