<% if @message%>
  alert("<%= @message %>");
<% end %>
<% if @redirect %>
  window.location.href = '/profile';
<% end %>
<% if @close %>
  $('#modal-create-wallet').modal('hide');
  $('.user-body').hide();
<% end %>