.container
  %section.content-header
    %h1
      Login
    %ol.breadcrumb
      %li
        %a{:href => "/"}
          %i.fa.fa-dashboard
          Home
      %li.active Login
  / Main content
  %section.content
    .box.box-info
      .box-header.with-border
        %h3.box-title 
      / /.box-header
      / form start
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f|
        .box-body
          - unless devise_error_messages!.empty?
            .callout.callout-danger
              = devise_error_messages!
          .form-group
            = f.label :email, class: 'col-sm-2 control-label'
            .col-sm-10
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
          .form-group
            = f.label :password, class: 'col-sm-2 control-label'
            .col-sm-10
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember me
        / /.box-body
        .box-footer
          = link_to 'Cancel', root_path, class: 'btn btn-default'
          = f.submit "Sign in", class: 'btn btn-info pull-right'
        / /.box-footer
