%footer.main-footer
  .container
    .pull-right.hidden-xs
      %b Version
      0.0.1
    %strong
      Copyright © 2017
      = succeed "." do
        %a{:href => "https://coinstarter.beslan"} Coinstarter
    All rights
    reserved.