%header.main-header
  %nav.navbar.navbar-static-top
    .container
      .navbar-header
        %a.navbar-brand{:href => "/"}
          %b> Coin
          Starter
        %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.fa.fa-bars
      / Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse.pull-left
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "/"}
              Projects
              %span.sr-only (current)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Categories
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              - Category.order('name ASC').each do |cat|
                %li
                  = link_to cat.name, projects_path(category: cat.id)
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input#navbar-search-input.form-control{:placeholder => "Search", :type => "text"}/
      / /.navbar-collapse
      / Navbar Right Menu
      .navbar-custom-menu
        %ul.nav.navbar-nav
          / / Messages: style can be found in dropdown.less
          / %li.dropdown.messages-menu
          /   / Menu toggle button
          /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          /     %i.fa.fa-envelope-o
          /     %span.label.label-success 4
          /   %ul.dropdown-menu
          /     %li.header You have 4 messages
          /     %li
          /       / inner menu: contains the messages
          /       %ul.menu
          /         %li
          /           / start message
          /           %a{:href => "#"}
          /             .pull-left
          /               / User Image
          /               %img.img-circle{:alt => "User Image", :src => "../../dist/img/user2-160x160.jpg"}/
          /             / Message title and timestamp
          /             %h4
          /               Support Team
          /               %small
          /                 %i.fa.fa-clock-o
          /                 5 mins
          /             / The message
          /             %p Why not buy a new awesome theme?
          /         / end message
          /       / /.menu
          /     %li.footer
          /       %a{:href => "#"} See All Messages
          / / /.messages-menu
          / / Notifications Menu
          / %li.dropdown.notifications-menu
          /   / Menu toggle button
          /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          /     %i.fa.fa-bell-o
          /     %span.label.label-warning 10
          /   %ul.dropdown-menu
          /     %li.header You have 10 notifications
          /     %li
          /       / Inner Menu: contains the notifications
          /       %ul.menu
          /         %li
          /           / start notification
          /           %a{:href => "#"}
          /             %i.fa.fa-users.text-aqua
          /             5 new members joined today
          /         / end notification
          /     %li.footer
          /       %a{:href => "#"} View all
          / / Tasks Menu
          / %li.dropdown.tasks-menu
          /   / Menu Toggle Button
          /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          /     %i.fa.fa-flag-o
          /     %span.label.label-danger 9
          /   %ul.dropdown-menu
          /     %li.header You have 9 tasks
          /     %li
          /       / Inner menu: contains the tasks
          /       %ul.menu
          /         %li
          /           / Task item
          /           %a{:href => "#"}
          /             / Task title and progress text
          /             %h3
          /               Design some buttons
          /               %small.pull-right 20%
          /             / The progress bar
          /             .progress.xs
          /               / Change the css width attribute to simulate progress
          /               .progress-bar.progress-bar-aqua{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
          /                 %span.sr-only 20% Complete
          /         / end task item
          /     %li.footer
          /       %a{:href => "#"} View all tasks
          / User Account Menu
          - if current_user
            %li.dropdown.user.user-menu
              / Menu Toggle Button
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.hidden-xs= current_user.name
              %ul.dropdown-menu
                / The user image in the menu
                %li.user-header
                  %p
                    = current_user.name
                    %small= "Member since #{current_user.created_at.strftime('%b. %Y')}"
                / Menu Body
                - if current_user && current_user.ethereum_wallet.nil?
                  %li.user-body
                    .row
                      .col-xs-12.text-center
                        %button.btn.btn-primary.btn-block{"data-target" => "#modal-create-wallet", "data-toggle" => "modal"} Create Eth wallet
                /     .col-xs-4.text-center
                /       %a{:href => "#"} Sales
                /     .col-xs-4.text-center
                /       %a{:href => "#"} Friends
                /   / /.row
                / Menu Footer
                %li.user-footer
                  .pull-left
                    =link_to 'Profile', profile_path, method: :get, class: 'btn btn-default btn-flat'
                  .pull-right
                    =link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat'
          - else
            %li
              = link_to 'Registration', new_user_registration_path
            %li
              = link_to 'Login', new_user_session_path
