- if flash[:alert]
  #modal-alert.modal.modal-danger.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Error
        .modal-body
          %p= flash[:alert]
        .modal-footer
          %button.btn.btn-outline{"data-dismiss" => "modal", :type => "button"} Close
  :javascript
    $(document).ready(function() {
        $('#modal-alert').modal('show');
    } );
- if flash[:notice]
  #modal-notice.modal.modal-primary.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Info
        .modal-body
          %p= flash[:notice]
        .modal-footer
          %button.btn.btn-outline{"data-dismiss" => "modal", :type => "button"} Close
  :javascript
    $(document).ready(function() {
        $('#modal-notice').modal('show');
    } );

#modal-create-wallet.modal.modal-default.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title= "Create Ethereum wallet"
      .modal-body
        = form_for(EthereumWallet.new, url: wallets_path, html: {class: 'form-horizontal'}, remote: true) do |f|
          %p= f.password_field :password, class: 'form-control', placeholder: 'Ethereum wallet key password'
          .modal-footer
            = f.submit "Create wallet", class: 'btn btn-info pull-right'
    / /.modal-content
  / /.modal-dialog