!!!
%html
  %head
    %title Coinstarter
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.skin-blue-light.layout-top-nav
    .wrapper
      = render partial: 'layouts/partials/header'
      / = render partial: 'layouts/partials/sidebar'
      .content-wrapper
        = yield
      = render partial: 'layouts/partials/footer'
      //= render partial: 'layouts/partials/control_sidebar
      = render partial: 'layouts/partials/modals'